---
layout: default
title: Elk | Decentralized IOT for Makers Bootcamp
---

<link type="text/css" media="all" href="/assets/css/style2.css" rel="stylesheet" />

<div class="main-wrapper">
  <div data-elementor-type="post" data-elementor-id="2867" class="elementor elementor-2867"
    data-elementor-settings="[]">
    <div class="elementor-inner">
      <div class="elementor-section-wrap">
        {% include navigation.html %}
        <section
          class="bootcamp-header elementor-element elementor-element-7692218 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
          data-id="7692218" data-element_type="section"
          data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
          <div class="elementor-background-overlay"></div>
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div
                class="elementor-element elementor-element-0e237a7 elementor-column elementor-col-100 elementor-top-column"
                data-id="0e237a7" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div class="elementor-element elementor-element-b7d7a79 elementor-widget elementor-widget-heading"
                      data-id="b7d7a79" data-element_type="widget" data-widget_type="heading.default">
                      <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default">Upgrade your IOT skills with
                          decentralized tech!</h2>
                      </div>
                    </div>
                    <section
                      class="elementor-element elementor-element-499a5ea elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
                      data-id="499a5ea" data-element_type="section">
                      <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                          <div
                            class="elementor-element elementor-element-3bc24a9 elementor-column elementor-col-100 elementor-inner-column"
                            data-id="3bc24a9" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                              <div class="elementor-widget-wrap">
                                <div
                                  class="elementor-element elementor-element-3d17505 elementor-aspect-ratio-169 elementor-widget elementor-widget-video"
                                  data-id="3d17505" data-element_type="widget"
                                  data-settings="{&quot;aspect_ratio&quot;:&quot;169&quot;}"
                                  data-widget_type="video.default">
                                  <div class="elementor-widget-container">
                                    <div class="elementor-wrapper elementor-fit-aspect-ratio elementor-open-inline">
                                      <div class="youtube" id="6M4ryq7yIys" style="width: 777px; height: 420px;">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        {% include bootcamp/bootcamp-schedule.html %}
      </div>
    </div>
  </div>
</div>
{% include footer.html %}
