---
layout: default
title: Elk | The Hardware Development Board for the Blockchain
---

<body class="home page-template page-template-elementor_canvas page page-id-2548 use-sticky-nav white elementor-default elementor-template-canvas elementor-page elementor-page-2548">
    <div class="main-wrapper">
        <div data-elementor-type="post" data-elementor-id="2548" class="elementor elementor-2548" data-elementor-settings="[]">
            <div class="elementor-inner">
                <div class="elementor-section-wrap">
                {% include navigation.html %}
{% include intro.html %}

{% include machines-intro.html %}
{% include machines-communicate-privately.html %}
{% include machines-punching-bag.html %}
{% include machines-accept-crypto.html %}
{% include more-projects.html %}

{% include what-is-elk.html %}
{% include kickstarter-signup.html %}

{% include features.html %}
{% include bootcamp-signup.html %}
{% include elk-app.html %}

{% include faq.html %}

{% include kickstarter-signup.html %}
{% include partners.html %}
{% include about-brief.html %}
