---
layout: default
title: Elk | The Hardware Development Board for the Blockchain
---
  <div data-elementor-type="post" data-elementor-id="2548" class="elementor elementor-2548"
    data-elementor-settings="[]">
    <div class="elementor-inner">
      <div class="elementor-section-wrap">
        {% include navigation.html %}
        {% include intro.html %}

        {% include machines-intro.html %}
        {% include machines-communicate-privately.html %}
        {% include machines-punching-bag.html %}
        {% include machines-accept-crypto.html %}
        {% include more-projects.html %}

        {% include what-is-elk.html %}
        {% include bootcamp-signup.html %}

        {% include features.html %}
        {% include kickstarter-signup.html %}
        {% include elk-app.html %}

        {% include faq.html %}

        {% include kickstarter-signup.html %}
        {% include partners.html %}
        {% include about-brief.html %}

      </div>
    </div>
  </div>
