<section
  class="elementor-element elementor-element-fca1044 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
  data-id="fca1044"
  data-element_type="section"
  data-settings='{"background_background":"classic"}'
>
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row">
      <div
        class="elementor-element elementor-element-33c6321 elementor-column elementor-col-100 elementor-top-column"
        data-id="33c6321"
        data-element_type="column"
      >
        <div class="elementor-column-wrap  elementor-element-populated">
          <div class="elementor-widget-wrap">
            <section
              class="elementor-element elementor-element-27e75bd elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
              data-id="27e75bd"
              data-element_type="section"
            >
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-3b2a8e5 elementor-column elementor-col-50 elementor-inner-column"
                    data-id="3b2a8e5"
                    data-element_type="column"
                  >
                    <div
                      class="elementor-column-wrap  elementor-element-populated"
                    >
                      <div class="elementor-widget-wrap">
                        <div
                          class="elementor-element elementor-element-31c3145 elementor-widget elementor-widget-heading"
                          data-id="31c3145"
                          data-element_type="widget"
                          data-widget_type="heading.default"
                        >
                          <div class="elementor-widget-container">
                            <h3 class="h3-new center-mobile" style="font-weight: 200">
                              Built by the creators of 1Sheeld and the
                              winners of ETHDenver 2018
                            </h3>
                          </div>
                        </div>
                        <div
                          class="elementor-element elementor-element-7ebb00e elementor-widget elementor-widget-text-editor"
                          data-id="7ebb00e"
                          data-element_type="widget"
                          data-widget_type="text-editor.default"
                        >
                          <div class="elementor-widget-container">
                            <div
                              class="elementor-text-editor elementor-clearfix"
                            >
                              <p style="font-size: 1.3rem;" class="center-mobile">
                                Elk (formerly Elkrem) was born out of the
                                ETHDenver 2018 Hackathon when we won
                                <a
                                  href="https://medium.com/ethdenver/ethdenver-2018s-first-place-team-elkrem-to-return-to-2019-buidlathon-as-mentors-959bdf74e2f0"
                                  target="_blank"
                                  rel="noopener"
                                  >first place</a
                                >
                                for presenting a prototype of a development
                                board to ease building decentralized hardware
                                applications.
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="elementor-element elementor-element-fc16076 elementor-widget elementor-widget-text-editor"
                          data-id="fc16076"
                          data-element_type="widget"
                          data-widget_type="text-editor.default"
                        >
                          <div class="elementor-widget-container">
                            <div
                              class="elementor-text-editor elementor-clearfix"
                            >
                              <p style="font-size: 1.3rem;" class="center-mobile">
                                We are also the creators of
                                <a href="https://1sheeld.com" target="_blank"
                                  >1Sheeld</a
                                >, a hardware that turns your smartphone into
                                40+ Arduino shields. Since its inception 1Sheeld
                                has powered tens of thousands of makers in 120+
                                countries.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-8d3a141 elementor-column elementor-col-50 elementor-inner-column"
                    data-id="8d3a141"
                    data-element_type="column"
                  >
                    <div
                      class="elementor-column-wrap  elementor-element-populated"
                    >
                      <div class="elementor-widget-wrap">
                        <div
                          class="elementor-element elementor-element-042ebce elementor-widget elementor-widget-image"
                          data-id="042ebce"
                          data-element_type="widget"
                          data-widget_type="image.default"
                        >
                          <div class="elementor-widget-container">
                            <div class="elementor-image">
                              <img
                                width="600"
                                height="401"
                                src="assets/images/ethdenver.webp"
                                class="attachment-large size-large"
                                alt=""
                                srcset="
                                  assets/images/ethdenver.webp        600w,
                                  assets/images/ethdenver-300x201.png 300w
                                "
                                sizes="(max-width: 600px) 100vw, 600px"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
