<section class="elementor-section-boxed elementor-section" style="padding-top: 40px; background-color: #f8f9fa">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row">
      <div class="elementor-element elementor-element-da2750b elementor-column elementor-col-100 elementor-top-column"
        data-id="da2750b" data-element_type="column">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div class="elementor-widget-wrap">
            <div class="elementor-element elementor-element-f173905 elementor-widget elementor-widget-heading"
              data-id="f173905" data-element_type="widget" data-widget_type="heading.default">
              <div class="elementor-widget-container">
                <h3 class="h3-new" style="font-weight: 200;">
                  New to blockchain?<br />Join our <b>free</b> blockchain bootcamp!
                </h3>
              </div>
            </div>
            <section
              class="elementor-element elementor-element-361eacd elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
              data-id="361eacd" data-element_type="section">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-48e4eba elementor-column elementor-col-100 elementor-inner-column"
                    data-id="48e4eba" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div
                          class="elementor-element elementor-element-fad187f elementor-align-center elementor-widget elementor-widget-button"
                          data-id="fad187f" data-element_type="widget" data-widget_type="button.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-button-wrapper">
                              <a href="bootcamp" class="elementor-button-link elementor-button elementor-size-lg"
                                role="button">
                                <span class="elementor-button-content-wrapper">
                                  <span class="elementor-button-text">Learn more</span>
                                </span>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
