<section class="elementor-element elementor-element-5353b6c elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="5353b6c" data-element_type="section"
      style="background-color: #f8f9fa">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
                <div class="elementor-element elementor-element-9511e5b elementor-column elementor-col-100 elementor-top-column" data-id="9511e5b" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                        <div class="elementor-widget-wrap">
                            <section class="elementor-element elementor-element-d838dc8 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="d838dc8" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-row">
                                        <div class="elementor-element elementor-element-e5a5172 elementor-column elementor-col-100 elementor-top-column" data-id="e5a5172" data-element_type="column">
                                            <div class="elementor-column-wrap  elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-e4fe17b elementor-widget elementor-widget-heading" data-id="e4fe17b" data-element_type="widget" data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h2 class="h2-new" style="font-weight: 200">
                                                                Frequently Asked Questions
                                                            </h2>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-8146630 elementor-widget elementor-widget-faq-list" data-id="8146630" data-element_type="widget" data-widget_type="faq-list.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="faq-one">
                                                                <ul class="faq">
                                                                    <li class="faq-list">
                                                                        <h5 class="faq-list__title">
                                                                            Do you only support Ethereum and Bitcoin?
                                                                        </h5>
                                                                        <p class="faq-list-description">
                                                                            No, Elk is meant to be a development board for multiple decentralized technologies. While Elk will initially ship with support for Ethereum and Bitcoin, support for additional blockchain technologies will continually be added.<br
                                                                            /><br />Also, our board is 100% open-source and we welcome contributions from the community to support more technologies.
                                                                        </p>
                                                                    </li>
                                                                    <li class="faq-list">
                                                                        <h5 class="faq-list__title">
                                                                            Do I need to own crypto to use Elk?
                                                                        </h5>
                                                                        <p class="faq-list-description">
                                                                            No! When building out projects that integrate with payments, you can always use test networks to test and use your prototypes.
                                                                            <br /><br /> Additionally, some protocols that we support, like Whisper, Swarm, and our Elk app, don't rely on crypto payments at all and you can use them without ever owning
                                                                            crypto.
                                                                        </p>
                                                                    </li>
                                                                    <li class="faq-list">
                                                                        <h5 class="faq-list__title">
                                                                            When can I buy Elk?
                                                                        </h5>
                                                                        <p class="faq-list-description">
                                                                            We will be launching our Kickstarter campaign in July 2019. Sign up on this page to stay tuned with updates and to get your early bird discount.
                                                                        </p>
                                                                    </li>
                                                                    <li class="faq-list">
                                                                        <h5 class="faq-list__title">
                                                                            Is this an ICO?
                                                                        </h5>
                                                                        <p class="faq-list-description">
                                                                            No.
                                                                        </p>
                                                                    </li>
                                                                    <li class="faq-list">
                                                                        <h5 class="faq-list__title">
                                                                            How secure is the board?
                                                                        </h5>
                                                                        <p class="faq-list-description">
                                                                            Elk doesn't have any form of hardware security and shouldn't at any point in time be used to hold significant amounts of (real) crypto assets. Our current focus with Elk is to provide a 10x better development experience, which we think is quite lacking
                                                                            in the blockchain space today.<br /><br />Developing hardware comes at a big cost. We imagine that
                                                                            the vast majority of projects involving this iteration of our development board will be for exploring, prototyping, and for personal consumption. In these cases, an affordable
                                                                            board that offers a 10x better development experience is more appealing than a relatively expensive board with great security but a less refined development experience.
                                                                            <br /><br />For enterprise applications where security is paramount, please
                                                                            <a href="mailto:hello@elk.cc" target="_top">contact us</a
                                    >.
                                  </p>
                                </li>
                                <li class="faq-list">
                                  <h5 class="faq-list__title">
                                    Why build a new hardware board?
                                  </h5>
                                  <p class="faq-list-description">
                                    Nothing exists that allows us to give the
                                    developer experience we have in mind: a
                                    powerful microcontroller and SoC on the same
                                    board, WiFi with onboard antenna, breadboard
                                    compatible, 3.3v and 5v tolerant IOs with
                                    enough driving current, plenty of analog
                                    pins, integrated eMMC preloaded with our OS,
                                    plug-and-play as a regular microcontroller
                                    board, an RGB LED for indicating status,
                                    special purpose buttons and no irrelevant
                                    and unneeded ports (HDMI, Audio, Ethernet,
                                    camera, etc).
                                  </p>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
