<section class="elementor-section-boxed elementor-section" style="text-align: center; padding-top: 40px;">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row">
      <div class="elementor-column elementor-col-100">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div style="margin: auto;">
            <h2 class="h2-new center-mobile" style="font-weight: 300">What's the magic behind Elk?</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="elementor-section-boxed elementor-section" style="padding-top: 40px;">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row slim-row reverse-mobile">
      <div class="elementor-column elementor-col-50">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div>
            <h3 class="h3-new center">A 10x Better Experience</h3>
            <p class="p-new center">Elk offers a plug-and-play experience, just like an Arduino. You won’t need to
              deal with wallet and keys management, fuss over setting up nodes, tune their parameters to run well on
              an embedded device, handle crashes, etc.
            </p>
          </div>
        </div>
      </div>
      <div class="elementor-column elementor-col-50">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div style="margin: auto;">
            <img src="/assets/images/development-ux.png" style="height: 200px;">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="elementor-section-boxed elementor-section" style="padding-top: 40px;">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row slim-row">
      <div class="elementor-column elementor-col-50">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div style="margin: auto;">
            <img src="/assets/images/elk-app-screenshot.png" alt="Elk App Screenshot" style="height: 450px;">
          </div>
        </div>
      </div>
      <div class="elementor-column elementor-col-50">
        <div class="elementor-column-wrap  elementor-element-populated" style="align-items: center;">
          <div>
            <h3 class="h3-new center">The Elk Protocol &amp; App</h3>
            <p class="p-new center">We extended Ethereum’s Whisper protocol and built the Elk mobile app, an app that
              makes it trivial for you to interact with your hardware remotely and privately via Whisper through any
              mobile device.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="elementor-section-boxed elementor-section" style="padding-top: 80px;">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row slim-row reverse-mobile">
      <div class="elementor-column elementor-col-50">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div>
            <h3 class="h3-new center">Blockchain agnostic</h3>
            <p class="p-new center">While our SDK ships with Ethereum and Bitcoin support, Elk is designed from the
              ground up to be blockchain agnostic and support for more platforms will continually be added by us and
              the community.
            </p>
          </div>
        </div>
      </div>
      <div class="elementor-column elementor-col-50">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div style="margin: auto;">
            <img class="blockchain-logos" src="/assets/images/blockchain-logos.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="elementor-section-boxed elementor-section" style="padding-top: 40px;">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row slim-row">
      <div class="elementor-column elementor-col-50">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div style="margin: auto;">
            <img src="/assets/images/true-decentralization.png" alt="True Decentralization" style="height: 200px;">
          </div>
        </div>
      </div>
      <div class="elementor-column elementor-col-50">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div>
            <h3 class="h3-new center">True Decentralization</h3>
            <p class="p-new center">By default and when possible, Elk runs a light node and communicates directly with
              blockchain networks and not through a hosted service. Elk pushes decentralization all the way to the
              edge!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="elementor-section-boxed elementor-section final-feature-col">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row slim-row">
      <div class="elementor-column elementor-col-50">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div style="margin: auto; text-align: center;">
            <i class="fa fa-code" style="font-size: 80px; color: black;"></i>
            <h3 class="h3-new center">100% Open Source</h3>
            <p class="p-new center">Our hardware and SDK will both be 100% open source. Hack away!
            </p>
          </div>
        </div>
      </div>
      <div class="elementor-column elementor-col-50">
        <div class="elementor-column-wrap elementor-element-populated">
          <div class="final-feature-col-2" style="margin: auto; text-align: center;">
            <i class="fa fa-microchip" style="font-size: 80px; color: black; transform: rotate(90deg)"></i>
            <h3 class="h3-new center">Breadboard Compatible</h3>
            <p class="p-new center">Easily connect Elk with your sensors and actuators using your breadboard.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
