<section class="elementor-element elementor-element-199062a elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="199062a" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="elementor-element elementor-element-17185f3 elementor-column elementor-col-100 elementor-top-column" data-id="17185f3" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-c1188c0 elementor-widget elementor-widget-heading" data-id="c1188c0" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">
                                    Features
                                </h2>
                            </div>
                        </div>
                        <section class="elementor-element elementor-element-e82770b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="e82770b" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="elementor-element elementor-element-7ebce76 elementor-column elementor-col-33 elementor-inner-column" data-id="7ebce76" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-0fec173 elementor-view-framed elementor-shape-circle elementor-widget elementor-widget-icon" data-id="0fec173" data-element_type="widget" data-widget_type="icon.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-icon-wrapper">
                                                            <div class="elementor-icon">
                                                                <i class="fa fa-code" aria-hidden="true"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-0fd33af elementor-widget elementor-widget-heading" data-id="0fd33af" data-element_type="widget" data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h5 class="elementor-heading-title elementor-size-default">
                                                            Simple SDK
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-eeda47d elementor-widget elementor-widget-text-editor" data-id="eeda47d" data-element_type="widget" data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-text-editor elementor-clearfix">
                                                            <p>
                                                                Our SDK is Arduino compatible and requires no setup and no prior knowledge in decentralization or how it works.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-a8a87a9 elementor-column elementor-col-33 elementor-inner-column" data-id="a8a87a9" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-f54e5b6 elementor-view-framed elementor-shape-circle elementor-widget elementor-widget-icon" data-id="f54e5b6" data-element_type="widget" data-widget_type="icon.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-icon-wrapper">
                                                            <div class="elementor-icon">
                                                                <i class="fa fa-unlink" aria-hidden="true"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-004e78b elementor-widget elementor-widget-heading" data-id="004e78b" data-element_type="widget" data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h5 class="elementor-heading-title elementor-size-default">
                                                            Blockchain Agnostic
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-2f21f3b elementor-widget elementor-widget-text-editor" data-id="2f21f3b" data-element_type="widget" data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-text-editor elementor-clearfix">
                                                            <p>
                                                                While our SDK ships with Ethereum and Bitcoin support, Elk is designed from the ground up to be blockchain agnostic and support for more platforms will continually be added.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-9ba7d36 elementor-column elementor-col-33 elementor-inner-column" data-id="9ba7d36" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-47180be elementor-view-framed elementor-shape-circle elementor-widget elementor-widget-icon" data-id="47180be" data-element_type="widget" data-widget_type="icon.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-icon-wrapper">
                                                            <div class="elementor-icon">
                                                                <i class="fa fa-cubes" aria-hidden="true"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-5668791 elementor-widget elementor-widget-heading" data-id="5668791" data-element_type="widget" data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h5 class="elementor-heading-title elementor-size-default">
                                                            Truly Decentralized
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-0c2b9c3 elementor-widget elementor-widget-text-editor" data-id="0c2b9c3" data-element_type="widget" data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-text-editor elementor-clearfix">
                                                            <p>
                                                                By default and when possible, Elk runs a light node and communicates directly with the blockchain and not through a hosted service. Elk pushes decentralization to the edge!
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="elementor-element elementor-element-ba362de elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="ba362de" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="elementor-element elementor-element-2c0082e elementor-column elementor-col-50 elementor-inner-column" data-id="2c0082e" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-fafffba elementor-view-framed elementor-shape-circle elementor-widget elementor-widget-icon" data-id="fafffba" data-element_type="widget" data-widget_type="icon.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-icon-wrapper">
                                                            <div class="elementor-icon">
                                                                <i class="fa fa-github" aria-hidden="true"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-97b12af elementor-widget elementor-widget-heading" data-id="97b12af" data-element_type="widget" data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h5 class="elementor-heading-title elementor-size-default">
                                                            Open Source
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-39d33bb elementor-widget elementor-widget-text-editor" data-id="39d33bb" data-element_type="widget" data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-text-editor elementor-clearfix">
                                                            <p>
                                                                Our hardware and SDK will both be 100% open-source. Hack away!
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-52df538 elementor-column elementor-col-50 elementor-inner-column" data-id="52df538" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-b360bd6 elementor-view-framed elementor-shape-circle elementor-widget elementor-widget-icon" data-id="b360bd6" data-element_type="widget" data-widget_type="icon.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-icon-wrapper">
                                                            <div class="elementor-icon">
                                                                <i class="fa fa-microchip" aria-hidden="true"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-a3fd133 elementor-widget elementor-widget-heading" data-id="a3fd133" data-element_type="widget" data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h5 class="elementor-heading-title elementor-size-default">
                                                            Breadboard Compatible
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-a0e26e1 elementor-widget elementor-widget-text-editor" data-id="a0e26e1" data-element_type="widget" data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-text-editor elementor-clearfix">
                                                            <p>
                                                                We want to make your hard hardware life easy. Easily connect Elk with your sensors and actuators using your breadboard.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
