<section class="elementor-section-boxed elementor-section dark-background" style="padding-top: 40px;">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row">
      <div class="elementor-column elementor-col-50">
        <div class="elementor-column-wrap  elementor-element-populated center-mobile footer-col" style="flex-direction: column">
          <h2 class="h2-new light">Let's build a decent* internet of things together</h2>
          <p class="light p-new" style="font-size: 1.3rem;">
            *Decent = Decentralized, ethical &#038; secure.
          </p>
          <img width="150" height="100" src="/assets/images/logo-full-min.png" class="attachment-large size-large footer-logo center-mobile"
            alt="Elk" />
        </div>
      </div>
      <div class="elementor-column elementor-col-50">
        <div class="elementor-column-wrap elementor-element-populated footer-col" style="flex-direction: column">
          <nav class="footer-nav">
            <ul>
              <li>
                <a href="/about">About</a>
              </li>
              <li>
                <a href="/privacy">Privacy</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
