<section
  class="elementor-element elementor-element-11bab4e elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
  data-id="11bab4e" data-element_type="section" data-settings='{"background_background":"classic"}'>
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row">
      <div class="elementor-element elementor-element-a50d110 elementor-column elementor-col-100 elementor-top-column"
        data-id="a50d110" data-element_type="column">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div class="elementor-widget-wrap">
            <div class="elementor-element elementor-element-3981311 elementor-widget elementor-widget-heading"
              data-id="3981311" data-element_type="widget" data-widget_type="heading.default">
              <div class="elementor-widget-container">
                <h2 class="elementor-heading-title elementor-size-default">
                  Let's build a decent* internet of things together.
                </h2>
              </div>
            </div>
            <div class="elementor-element elementor-element-47015bb elementor-widget elementor-widget-text-editor"
              data-id="47015bb" data-element_type="widget" data-widget_type="text-editor.default">
              <div class="elementor-widget-container">
                <div class="elementor-text-editor elementor-clearfix">
                  <p style="font-size: 1.3rem; color: white;">
                    *Decent => Decentralized, ethical &#038; secure.
                  </p>
                </div>
              </div>
            </div>
            <div class="elementor-element elementor-element-1dab7ac elementor-widget elementor-widget-image"
              data-id="1dab7ac" data-element_type="widget" data-widget_type="image.default">
              <div class="elementor-widget-container">
                <div class="elementor-image">
                  <img width="150" height="100" src="/assets/images/logo-full-min.png"
                    class="attachment-large size-large" alt="Elk" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
