<section
  class="elementor-element elementor-element-92bb040 elementor-section-height-min-height top-page elementor-section-boxed elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
  data-id="92bb040" data-element_type="section">
  <div class="elementor-container elementor-column-gap-default" style="padding-top: 80px;">
    <div class="elementor-row">
      <div class="elementor-element elementor-element-a59d8e1 elementor-column elementor-col-100 elementor-top-column"
        data-id="a59d8e1" data-element_type="column">
        <div class="elementor-column-wrap  elementor-element-populated" style="padding-top: 0px;">
          <div class="elementor-widget-wrap">
            <section
              class="elementor-element elementor-element-9469094 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
              data-id="9469094" data-element_type="section">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-c3ad168 elementor-column elementor-col-50 elementor-inner-column"
                    data-id="c3ad168" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div
                          class="elementor-element elementor-element-b807fe3 elementor-widget elementor-widget-heading"
                          data-id="b807fe3" data-element_type="widget" data-widget_type="heading.default">
                          <div class="elementor-widget-container">
                            <h2 class="h2-new">
                              Bringing blockchain into the physical world.

                            </h2>
                          </div>
                        </div>
                        <div
                          class="elementor-element elementor-element-ef850a9 elementor-widget elementor-widget-menu-anchor"
                          data-id="ef850a9" data-element_type="widget" data-widget_type="menu-anchor.default">
                          <div class="elementor-widget-container">
                            <div id="kickstarter-signup" class="elementor-menu-anchor"></div>
                          </div>
                        </div>
                        <div
                          class="elementor-element elementor-element-9db217c elementor-hidden-phone elementor-invisible elementor-widget elementor-widget-html"
                          data-id="9db217c" data-element_type="widget" data-settings='{"_animation":"none"}'
                          data-widget_type="html.default">
                          <div class="elementor-widget-container">
                            <script src="assets/js/core.js"></script>
                            <h4
                              style="color: #818992; font-size: 1.6em; color: black; font-weight: 300; @media (max-width:767px) { text-align: center;}">
                              <b>Introducing Elk</b> - the development board for
                              building hardware projects that interface with
                              <span id="typewriter">blockchain.</span>
                            </h4>
                          </div>
                        </div>
                        <div
                          class="elementor-element elementor-element-397c7a3 elementor-hidden-desktop elementor-hidden-tablet elementor-invisible elementor-widget elementor-widget-html"
                          data-id="397c7a3" data-element_type="widget" data-settings='{"_animation":"none"}'
                          data-widget_type="html.default">
                          <div class="elementor-widget-container">
                            <h4
                              style="color: #818992; font-size: 1.6em; color: black; font-weight: 300; text-align: center;">
                              <b>Introducing Elk</b> - the development board for
                              building hardware projects that interact with
                              <span id="typewriter2">blockchain</span>
                            </h4>
                          </div>
                        </div>
                        <div
                          class="elementor-element elementor-element-b2ec5e8 elementor-hidden-phone elementor-widget elementor-widget-html"
                          data-id="b2ec5e8" data-element_type="widget" data-widget_type="html.default">
                          <div class="elementor-widget-container">
                            <h4
                              style="color: #818992; font-size: 1.3em; color: black; @media (max-width:767px) { text-align: center;}">
                              We'll soon be on Kickstarter.<br />Sign up now and
                              <b>get your early bird discount!</b>
                            </h4>
                          </div>
                        </div>
                        <div
                          class="elementor-element elementor-element-fb17b1a elementor-hidden-desktop elementor-hidden-tablet elementor-widget elementor-widget-html"
                          data-id="fb17b1a" data-element_type="widget" data-widget_type="html.default">
                          <div class="elementor-widget-container">
                            <h4 style="color: #818992; font-size: 1.3em; color: black; text-align: center;}">
                              We'll soon be on Kickstarter.<br />Sign up now and
                              <b>get your early bird discount!</b>
                            </h4>
                          </div>
                        </div>
                        <div
                          class="elementor-element elementor-element-3c7bfa0 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-phone elementor-widget elementor-widget-subscribe-form"
                          data-id="3c7bfa0" data-element_type="widget" data-widget_type="subscribe-form.default">
                          <div class="elementor-widget-container">
                            <div class="subscribe-box  ">
                              <div>
                                <form
                                  action="https://elkrem.us17.list-manage.com/subscribe/post?u=a21999ea95e9133d4cf64a912&amp;id=120633206b"
                                  method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank"
                                  novalidate>
                                  <div>
                                    <div class="mc-field-group">
                                      <div class="form-wrap clearfix">
                                        <input type="email" value="" name="EMAIL" class="required email"
                                          placeholder="Enter your email address." />
                                        <button type="submit" class="btn__submit">
                                          Sign up
                                        </button>
                                      </div>
                                    </div>
                                    <div class="clear">
                                      <div class="response" style="display:none"></div>
                                      <div class="response" style="display:none"></div>
                                    </div>
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                      <input name="b_2a518b6246cfa8394d6942a1f_b3eb93b902" tabindex="-1" value="" />
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="elementor-element elementor-element-34d50cb elementor-widget elementor-widget-subscribe-form"
                          data-id="34d50cb" data-element_type="widget" data-widget_type="subscribe-form.default">
                          <div class="elementor-widget-container">
                            <div class="subscribe-box  ">
                              <div>
                                <form
                                  action="https://elkrem.us17.list-manage.com/subscribe/post?u=a21999ea95e9133d4cf64a912&amp;id=120633206b"
                                  method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank"
                                  novalidate>
                                  <div>
                                    <div class="mc-field-group">
                                      <div class="form-wrap clearfix">
                                        <input type="email" value="" name="EMAIL" class="required email"
                                          placeholder="Enter your email address." />
                                        <button type="submit" class="btn__submit">
                                          Sign up
                                        </button>
                                      </div>
                                    </div>
                                    <div class="clear">
                                      <div class="response" style="display:none"></div>
                                      <div class="response" style="display:none"></div>
                                    </div>
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                      <input name="b_2a518b6246cfa8394d6942a1f_b3eb93b902" tabindex="-1" value="" />
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-d4126a4 elementor-column elementor-col-50 elementor-inner-column"
                    data-id="d4126a4" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div
                          class="elementor-element elementor-element-ca47def elementor-aspect-ratio-169 elementor-widget elementor-widget-video"
                          data-id="ca47def" data-element_type="widget" data-settings='{"aspect_ratio":"169"}'
                          data-widget_type="video.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-wrapper elementor-fit-aspect-ratio elementor-open-inline">
                              <div class="youtube" id="tTwh9sVxlRQ" style="width: 550px; height: 310px;"></div>
                            </div>
                          </div>
                        </div>
                        <div class="elementor-element elementor-element-e63cc4a elementor-widget elementor-widget-image"
                          data-id="e63cc4a" data-element_type="widget" data-widget_type="image.default">
                          <div class="elementor-widget-container">
                            <span style="font-size: 28px; font-weight: 100;">SOON ON&nbsp;</span>
                            <img src="assets/images/kickstarter.png" alt="Kickstarter"
                              style="height: 24px; margin-bottom: 12px;" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section
              class="elementor-element elementor-element-988be49 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
              data-id="988be49" data-element_type="section">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-bbaedc3 elementor-column elementor-col-20 elementor-inner-column"
                    data-id="bbaedc3" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-4ad754d elementor-widget elementor-widget-image"
                          data-id="4ad754d" data-element_type="widget" data-widget_type="image.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-image">
                              <a href="https://makezine.com/2019/01/11/makes-15-favorite-finds-from-ces-2019/"
                                data-elementor-open-lightbox="" target="_blank">
                                <img width="164" height="40" src="assets/images/makezine.png"
                                  class="attachment-full size-full" alt="" />
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-a3de82a elementor-column elementor-col-20 elementor-inner-column"
                    data-id="a3de82a" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-6ff6cb0 elementor-widget elementor-widget-image"
                          data-id="6ff6cb0" data-element_type="widget" data-widget_type="image.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-image">
                              <a href="https://www.elektormagazine.com/news/startups-ces-2019-part-2"
                                data-elementor-open-lightbox="" target="_blank">
                                <img src="assets/images/elektor.jpg" title="elektor" alt="elektor" />
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-da63442 elementor-column elementor-col-20 elementor-inner-column"
                    data-id="da63442" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-94c9884 elementor-widget elementor-widget-image"
                          data-id="94c9884" data-element_type="widget" data-widget_type="image.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-image">
                              <a href="https://techcrunch.com/2018/08/21/elkrem-is-a-blockchain-dev-board-for-tinkerers/"
                                data-elementor-open-lightbox="" target="_blank">
                                <img src="assets/images/techcrunch.jpg" title="Techcrunch" alt="Techcrunch" />
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-82b2ab9 elementor-column elementor-col-20 elementor-inner-column"
                    data-id="82b2ab9" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-b6c3d14 elementor-widget elementor-widget-image"
                          data-id="b6c3d14" data-element_type="widget" data-widget_type="image.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-image">
                              <img src="assets/images/ces.jpeg" title="CES" alt="CES" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-4e3690f elementor-column elementor-col-20 elementor-inner-column"
                    data-id="4e3690f" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-5b67d14 elementor-widget elementor-widget-image"
                          data-id="5b67d14" data-element_type="widget" data-widget_type="image.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-image">
                              <a href="https://makezine.com/2018/03/29/maker-faire-cairo-brings-history-youth-battling-bots/"
                                data-elementor-open-lightbox="" target="_blank">
                                <img src="assets/images/maker-faire.png" title="Maker Faire" alt="Maker Faire" />
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
