    <section
      class="elementor-element elementor-element-8b03bc0 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
      data-id="8b03bc0" data-element_type="section" data-settings='{"background_background":"classic"}'>
      <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
          <div
            class="elementor-element elementor-element-65af277 elementor-column elementor-col-100 elementor-top-column"
            data-id="65af277" data-element_type="column">
            <div class="elementor-column-wrap  elementor-element-populated">
              <div class="elementor-widget-wrap">
                <div class="elementor-element elementor-element-8dc6412 elementor-widget elementor-widget-image"
                  data-id="8dc6412" data-element_type="widget" data-widget_type="image.default">
                  <div class="elementor-widget-container">
                    <span style="font-size: 28px; font-weight: 100;">SOON ON&nbsp;</span>
                    <img src="assets/images/kickstarter.png" alt="Kickstarter"
                      style="height: 24px; margin-bottom: 12px;" />
                  </div>
                </div>
                <div class="elementor-element elementor-element-b15ff89 elementor-widget elementor-widget-heading"
                  data-id="b15ff89" data-element_type="widget" data-widget_type="heading.default">
                  <div class="elementor-widget-container">
                    <p class="elementor-heading-title elementor-size-default">
                      Sign up now and get your
                      <b>early bird discount!</b>
                    </p>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-4ccde4b elementor-widget elementor-widget-subscribe-form"
                  data-id="4ccde4b" data-element_type="widget" data-widget_type="subscribe-form.default">
                  <div class="elementor-widget-container">
                    <div class="subscribe-box  ">
                      <div>
                        <form
                          action="https://elkrem.us17.list-manage.com/subscribe/post?u=a21999ea95e9133d4cf64a912&amp;id=120633206b"
                          method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                          <div>
                            <div class="mc-field-group">
                              <div class="form-wrap clearfix">
                                <input type="email" value="" name="EMAIL" class="required email"
                                  placeholder="Enter your email address." />
                                <button type="submit" class="btn__submit">
                                  Sign up
                                </button>
                              </div>
                            </div>
                            <div class="clear">
                              <div class="response" style="display:none"></div>
                              <div class="response" style="display:none"></div>
                            </div>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                              <input name="b_2a518b6246cfa8394d6942a1f_b3eb93b902" tabindex="-1" value="" />
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
