<section class="elementor-section-boxed elementor-section" style="padding-top: 40px;">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row">
      <div class="elementor-column elementor-col-50">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div>
            <h2 class="h2-new center-mobile">Build machines that<br>respect your privacy.</h2>
            <p class="p-new center-mobile">
              Elk makes it trivial to build serverless machines that actually respect your
              privacy, thanks to Ethereum’s Whisper protocol.
            </p>
            <p class="p-new center-mobile">
              Build a decentralized home automation system: a decentralized doorlock, or decentralized lights, or even a
              <a href="https://hackernoon.com/diy-build-your-own-decentralized-thermostat-7acb6a2833d4" target="_blank">decentralized thermostat.</a>
            </p>
          </div>
        </div>
      </div>
      <div class="elementor-column elementor-col-50" style="text-align: center;">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div class="elementor-widget-wrap">
            <div class="">
              <div
                class="elementor-element elementor-aspect-ratio-169 elementor-widget elementor-widget-video"
                data-id="3144941" data-element_type="widget"
                data-settings="{&quot;_position&quot;:&quot;absolute&quot;,&quot;aspect_ratio&quot;:&quot;169&quot;}"
                data-widget_type="video.default">
                <div class="elementor-widget-container">
                  <div class="elementor-wrapper elementor-fit-aspect-ratio elementor-open-inline" style="filter: brightness(166%) contrast(100%) saturate(100%) blur(0) hue-rotate(0)">
                    <video class="elementor-video" src="assets/images/lightbulb-demo.mp4" autoplay="" loop="" muted=""
                      controlslist="nodownload"></video>
                  </div>
                </div>
              </div>
              <p class="p-caption" style="padding-left: 80px; padding-right: 80px;">
                Controlling a lightbulb remotely with no servers using the Elk app and Ethereum's Whisper protocol
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
