<section class="elementor-section-boxed elementor-section" style="padding-top: 40px;">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row">
      <div class="elementor-column elementor-col-50">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div>
            <h2 class="h2-new center-mobile">Build machines that<br>accept crypto payments.</h2>
            <p class="p-new center-mobile">
              With only a few lines of code, program machines that accept crypto currencies like Ethereum, Bitcoin,
              and ERC-20 tokens. Execute smart contracts, listen to events on the blockchain, and more!
            </p>
          </div>
        </div>
      </div>
      <div class="elementor-column elementor-col-50" style="text-align: center;">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div class="elementor-widget-wrap">
            <div
              class="elementor-element elementor-element-bb68068 elementor-aspect-ratio-169 elementor-widget elementor-widget-video"
              data-id="bb68068" data-element_type="widget" data-settings='{"aspect_ratio":"169"}'
              data-widget_type="video.default">
              <div class="elementor-widget-container">
                <div class="elementor-wrapper elementor-fit-aspect-ratio elementor-open-inline">
                  <div class="youtube youtube2" id="B8QHY0FK5e0" style="width: 550px; height: 310px;">
                  </div>
                </div>
              </div>
            </div>
            <div class="">
              <p class="p-caption" style="padding-left: 80px; padding-right: 80px;">
                A coffee machine that brews you coffee in exchange for DAI (or other ERC­20 tokens)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
