<section class="elementor-section-boxed elementor-section" style="padding-top: 40px;">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row reverse-mobile">
      <div class="elementor-column elementor-col-50" style="text-align: center;">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div class="elementor-widget-wrap">
            <div
              class="elementor-element elementor-element-bb68068 elementor-aspect-ratio-169 elementor-widget elementor-widget-video"
              data-id="bb68068" data-element_type="widget" data-settings='{"aspect_ratio":"169"}'
              data-widget_type="video.default">
              <div class="elementor-widget-container">
                <div class="elementor-wrapper elementor-fit-aspect-ratio elementor-open-inline">
                  <div class="youtube youtube2" id="97iaSlGA2GY" style="width: 550px; height: 310px;">
                  </div>
                </div>
              </div>
            </div>
            <div class="">
              <p class="p-caption" style="padding-left: 80px; padding-right: 80px;">
                "Proof of Workout": A crypto punching bag that motivates you to do your workouts
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="elementor-column elementor-col-50">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div>
            <h2 class="h2-new center-mobile">Build devices that<br>motivate you.</h2>
            <p class="p-new center-mobile">
              Elk helps you build devices that motivate you to do your workouts, wake up early, or water your plants. The possibilities are truly endless.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
