<section class="elementor-section-boxed elementor-section" style="text-align: center;">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row">
      <div class="elementor-column elementor-col-100">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div style="margin: auto;">
            <h2 class="h2-new center-mobile" style="font-weight: 300">Elk lets you start building<br> the machines of tomorrow.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
