<section class="elementor-section-boxed elementor-section" style="padding-top: 40px;">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row">
      <div class="elementor-element elementor-element-8fcd059 elementor-column elementor-col-100 elementor-top-column"
        data-id="8fcd059" data-element_type="column">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div class="elementor-widget-wrap">
            <div class="elementor-element elementor-element-ac854cf elementor-widget elementor-widget-heading"
              data-id="ac854cf" data-element_type="widget" data-widget_type="heading.default">
              <div class="elementor-widget-container">
                <h3 class="h3-new">
                  even more examples...
                </h3>
              </div>
            </div>
            <section
              class="elementor-element elementor-element-3f28279 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
              data-id="3f28279" data-element_type="section">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-e09252b elementor-column elementor-col-33 elementor-inner-column"
                    data-id="e09252b" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-072e401 elementor-widget elementor-widget-image"
                          data-id="072e401" data-element_type="widget" data-widget_type="image.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-image">
                              <figure>
                                <img width="700" height="394" src="assets/images/rent-electricity.webp"
                                  class="attachment-large size-large" alt="" srcset="
                                    assets/images/rent-electricity.webp        700w,
                                    assets/images/rent-electricity-300x169.png 300w
                                  " sizes="(max-width: 700px) 100vw, 700px" />
                                <p class="p-caption" style="padding: 10px 20px 0 20px;">
                                  An electric socket that rents out electricity
                                  in exchange for Bitcoin or Ethereum
                                </p>
                              </figure>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-ce953c2 elementor-column elementor-col-33 elementor-inner-column"
                    data-id="ce953c2" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-9917bdc elementor-widget elementor-widget-image"
                          data-id="9917bdc" data-element_type="widget" data-widget_type="image.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-image">
                              <figure>
                                <img width="700" height="394" src="assets/images/basketball-bets.webp"
                                  class="attachment-large size-large" alt="" srcset="
                                    assets/images/basketball-bets.webp        700w,
                                    assets/images/basketball-bets-300x169.png 300w
                                  " sizes="(max-width: 700px) 100vw, 700px" />
                                <p class="p-caption" style="padding: 10px 20px 0 20px;">
                                  A basketball hoop that accepts bets in
                                  Ethereum, Bitcoin, or IOTA
                               </p>
                              </figure>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-19e5c66 elementor-column elementor-col-33 elementor-inner-column"
                    data-id="19e5c66" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-735ee5d elementor-widget elementor-widget-image"
                          data-id="735ee5d" data-element_type="widget" data-widget_type="image.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-image">
                              <figure>
                                <img width="700" height="394" src="assets/images/hand-grip.webp"
                                  class="attachment-large size-large" alt="" srcset="
                                    assets/images/hand-grip.webp        700w,
                                    assets/images/hand-grip-300x169.png 300w
                                  " sizes="(max-width: 700px) 100vw, 700px" />
                                <p class="p-caption" style="padding: 10px 20px 0 20px;">
                                  A hand grip that you deposit crypto into and
                                  get back only after a certain number of
                                  grips
                                </p>
                              </figure>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
