<section id="page-nav" class="elementor-section-boxed elementor-section">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row">
      <div class="elementor-column elementor-col-100">
        <div class="elementor-column-wrap">
          <div class="elementor-widget-wrap">
            <div>
              <a href="/">
                <img src="assets/images/logo-full-min.png" alt="Elk Logo" class="logo-navigation" />
              </a>
            </div>
            <div class="page-nav-inner">
              <!-- [THE HAMBURGER] -->
              <label for="hamburger">&#9776;</label>
              <input type="checkbox" id="hamburger" />

              <!-- [MENU ITEMS] -->
              <ul>
                {% for i in site.data.navigation %}
                <li>
                  <a class="center-mobile" href="{{ i.link }}" {% if i.new_window %}target="_blank"{% endif %} >
                    {{ i.title }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
