<section
  class="elementor-element elementor-element-d0cfe41 navigation site-nav navigation__transparent navigation__landscape yes elementor-hidden-tablet elementor-hidden-phone elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
  data-id="d0cfe41" data-element_type="section">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row">
      <div
        class="elementor-element elementor-element-67be5f1 elementor-column elementor-col-33 elementor-top-column"
        data-id="67be5f1" data-element_type="column">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div class="elementor-widget-wrap">
            <div
              class="elementor-element elementor-element-2c77353 elementor-widget elementor-widget-image"
              data-id="2c77353" data-element_type="widget" data-widget_type="image.default">
              <div class="elementor-widget-container">
                <div class="elementor-image">
                  <a href="/">
                    <img width="150" height="100" src="assets/images/logo-full-min.png"
                      class="attachment-large size-large" alt="Elk" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="elementor-element elementor-element-c8223b0 elementor-column elementor-col-33 elementor-top-column"
        data-id="c8223b0" data-element_type="column">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div class="elementor-widget-wrap">
            <div
              class="elementor-element elementor-element-c7b7904 elementor-widget elementor-widget-vapp-nav-menu"
              data-id="c7b7904" data-element_type="widget" data-widget_type="vapp-nav-menu.default">
              <div class="elementor-widget-container">
                <button class="navigation__toggler"></button>
                <nav class="navigation-wrapper">
                  <button class="offcanvas__close">✕</button>
                  <div class="menu-main-menu-container">
                    <ul id="menu-main-menu" class="navigation-menu">
                      <li
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3119">
                        <a href="mailto:hello@elk.cc">Contact Us</a>
                      </li>
                      <li id="menu-item-3119"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3119">
                        <a href="https://medium.com/elkrem" target="_blank">Blog</a>
                      </li>
                      <li id="menu-item-1010"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1010">
                        <a href="https://community.elk.cc" target="_blank">Community</a>
                      </li>
                      <li id="menu-item-3223"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3223">
                        <a href="/bootcamp?ref=nav">FREE Blockchain Bootcamp</a>
                      </li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
