<section class="elementor-section-boxed elementor-section light-background" style="padding-top: 20px;">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row">
      <div class="elementor-column elementor-col-100">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div class="center-mobile">
            <h2 class="h2-new">Our Mission</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="elementor-section-boxed elementor-section light-background" style="padding-bottom: 40px;">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row">
      <div class="elementor-column elementor-col-100">
        <div class="elementor-column-wrap  elementor-element-populated">
          <p class="p-new" style="padding-top: 0">
            We are on a mission to bring blockchain and decentralization into the physical world. We believe current
            blockchain development is subpar, let alone blockchain development for embedded devices. There's room to
            make a 10x improvement in its UX, and that's what we're currently set out to do.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
