<section class="elementor-section-boxed elementor-section center page-header">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row">
      <div class="elementor-column elementor-col-100">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div style="margin: auto;">
            <h2 class="h2-new" style="font-weight: 300">About Elk</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="elementor-section-boxed elementor-section section-header">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row">
      <div class="elementor-column elementor-col-100">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div class="center-mobile">
            <h2 class="h2-new">Our Story</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="elementor-section-boxed elementor-section" style="padding-bottom: 20px;">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row reverse-mobile">
      <div class="elementor-column elementor-col-50">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div>
            <p class="p-new" style="padding-top: 0">
              Our story begins in 2013 when we started <a href="https://1sheeld.com">1Sheeld</a>, a hardware board
              that turns your smartphone into 40+ Arduino shields. Since its inception, 1Sheeld has powered tens of
              thousands of makers in 120+ countries.
            </p>

            <p class="p-new">
              We are hardware makers, creatives, and software engineers. We’ve been following blockchain tech for
              years, and we were naturally curious about the intersection of blockchain with hardware and its
              applications in the physical world.
            </p>

            <p class="p-new">
              At the ETHDenver Hackathon in 2018, we built a prototype of a development board that offers the
              simplicity of Arduino for building blockchain-connected devices. We ended up <a
                href="https://medium.com/ethdenver/ethdenver-2018s-first-place-team-elkrem-to-return-to-2019-buidlathon-as-mentors-959bdf74e2f0">winning
                first place</a>, and the Elk project was born.
            </p>
          </div>
        </div>
      </div>
      <div class="elementor-column elementor-col-50">
        <div class="elementor-column-wrap  elementor-element-populated">
          <img width="600" height="401" src="assets/images/ethdenver.webp" class="about-img" alt="Elk at ETHDenver"
            srcset="assets/images/ethdenver.webp 600w, assets/images/ethdenver-300x201.png 300w"
            sizes="(max-width: 600px) 100vw, 600px" />
        </div>
      </div>
    </div>
  </div>
</section>
