<section class="elementor-section-boxed elementor-section light-background" style="padding-top: 20px;">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row">
      <div class="elementor-column elementor-col-100">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div class="center-mobile">
            <h2 class="h2-new">Our Mission</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="elementor-section-boxed elementor-section light-background" style="padding-bottom: 40px;">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row">
      <div class="elementor-column elementor-col-100">
        <div class="elementor-column-wrap  elementor-element-populated">
          <p class="p-new" style="padding-top: 0">
            We are on a mission to introduce the world to "Decent IoT". "Decent IoT" is
            decentralized, gives users true control and true privacy, and allows entirely
            new use-cases like payments, oracles, selling your data, and much more.
            <br>
            <br>
            We believe the potential for blockchain and decentralization extends far beyond the
            hype, and that decentralization allows us to build IoT that is far more private, far
            more secure, and far more capable.
            <br>
            <br>
            If you're a blockchain enthusiast or a privacy-conscious maker, give us a shout and
            let us know your thoughts!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
