    <section
      style="text-align: center;"
      class="partners elementor-element elementor-element-6e675d2 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
      data-id="6e675d2" data-element_type="section">
      <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
          <div
            class="elementor-element elementor-element-9b762bb elementor-column elementor-col-100 elementor-top-column"
            data-id="9b762bb" data-element_type="column">
            <div class="elementor-column-wrap  elementor-element-populated">
              <div class="elementor-widget-wrap">
                <div class="elementor-element elementor-element-f36932d elementor-widget elementor-widget-menu-anchor"
                  data-id="f36932d" data-element_type="widget" data-widget_type="menu-anchor.default">
                </div>
                <div class="elementor-element elementor-element-cefd067 elementor-widget elementor-widget-heading"
                  data-id="cefd067" data-element_type="widget" data-widget_type="heading.default">
                  <div class="elementor-widget-container">
                    <h2 class="h2-new" style="font-weight: 200">
                      Partners
                    </h2>
                  </div>
                </div>
                <section
                  class="elementor-element elementor-element-76d8e24 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
                  data-id="76d8e24" data-element_type="section">
                  <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                      <div
                        class="elementor-element elementor-element-d8b904c elementor-column elementor-col-50 elementor-inner-column"
                        data-id="d8b904c" data-element_type="column">
                        <div class="elementor-column-wrap  elementor-element-populated">
                          <div class="elementor-widget-wrap">
                            <div
                              class="elementor-element elementor-element-cd3268c elementor-widget elementor-widget-text-editor"
                              data-id="cd3268c" data-element_type="widget" data-widget_type="text-editor.default">
                              <div class="elementor-widget-container">
                                <img src="/assets/images/{{ site.data.partners.streamr.logo }}" style="height: 100px;" alt="Streamr">
                                <div
                                  class="elementor-text-editor elementor-clearfix">
                                <p style="font-size: 1.3rem; padding-top: 20px; padding-left: 20px; padding-right: 20px;">
                                  {{ site.data.partners.streamr.description }} Learn more about Streamr <a href="https://www.streamr.com/">here</a>.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      </div>

                    <div
                        class="elementor-element elementor-element-d8b904c elementor-column elementor-col-50 elementor-inner-column"
                        data-id="d8b904c" data-element_type="column">
                        <div class="elementor-column-wrap  elementor-element-populated">
                          <div class="elementor-widget-wrap">
                            <div
                              class="elementor-element elementor-element-cd3268c elementor-widget elementor-widget-text-editor"
                              data-id="cd3268c" data-element_type="widget" data-widget_type="text-editor.default">
                              <div class="elementor-widget-container">
                                <img src="/assets/images/{{ site.data.partners.gitcoin.logo }}" style="height: 100px;" alt="Streamr">
                                <div
                                  class="elementor-text-editor elementor-clearfix">
                                <p style="font-size: 1.3rem; padding-top: 20px;">
                                  {{ site.data.partners.gitcoin.description }} Learn more about Gitcoin <a href="https://gitcoin.co/">here</a>.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      </div>
                  </div>
              </div>
    </section>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
