<section class="elementor-section-boxed elementor-section" style="padding-top: 40px;">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row">
      <div class="elementor-column elementor-col-75" style="margin: auto;">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div>
            <p class="p-new">Dear Elkers,</p>
            <p class="p-new">
            It is with a heavy heart that we inform you that we will be cancelling Elk's <a href="https://www.kickstarter.com/projects/233173198/elk-the-dev-board-for-the-decentralized-world">Kickstarter</a> <a href="https://www.kickstarter.com/projects/233173198/elk-the-dev-board-for-the-decentralized-world">campaign.</a> We thank you all for your generous support, trust, and enthusiasm throughout our journey in bringing forth our vision of decentralized IoT, or as we like to call it, “Decent” IoT.</p>

            <p class="p-new">
            Elk was born out of enthusiasm to explore the potential of the blockchain in the physical world. We wanted to empower developers to explore and tinker with the potential of blockchain on hardware devices, as well as work with enterprises to help them explore how blockchain can help them tackle their IoT challenges.</p>

            <p class="p-new">We spoke with dozens of enterprises in domains ranging from agriculture to automotive to construction to telecom, and while there is interest in exploring how blockchain can help solve challenges they face with their IoT fleets, it has become clear to us that we’re too early to the market, and that both the market as well as core blockchain technology are some years away before we see blockchain adoption in IoT fleets.</p>

            <p class="p-new">The enterprise was always meant to be our core business long-term, and in its absence, we unfortunately cannot deliver on our promises in this campaign, and hence the difficult decision to cancel this campaign and put the project on hold.</p>

            <p class="p-new">Given that we are canceling the campaign before its official end date, no charges to anyone will be made. Again, we are extremely grateful for your support and trust, and had the market conditions supported this enterprise we would have loved to build the future of Decent IoT with you.</p>

            <p class="p-new">For now, the concept of Decent IoT is in the hands of all those inspired to back it, AKA, you. So, please, remember that architecture shapes our behaviors and our behaviors shape our reality. Let's stay conscious as we build the future architecture of IoT. Keep it decent out there, humans.</p>

            <p class="p-new">Although we’ve paused development of the software and it’s not at a stage where it’s ready to be released to the open source community, we have open sourced our hardware under a Creative Commons license <a href="https://github.com/elkrem/elk-hardware">here</a>.</p>

            <p class="p-new">We’d love to keep the dialogue open, and we hope the community is able to drive this project forward. If you have any thoughts or questions, please don’t hesitate to reach out to us at <a href="mailto:hello@elk.cc">hello@elk.cc</a>.</p>

            <p class="p-new">Best,</p>
            <p class="p-new">The Elk Team</p>

            
            <div class="elementor-button-wrapper" style="text-align: center">
              <a href="/homepage" class="elementor-button-link elementor-button elementor-size-lg" style="font-weight: 700; background-color: #f44672;"
                role="button">
                <span class="elementor-button-content-wrapper">
                  <span class="elementor-button-text">Continue to website</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
