<section class="elementor-section-boxed elementor-section" style="margin-top: 40px;">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row">
      <div class="elementor-column elementor-col-100">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div class="center-mobile">
            <h2 class="h2-new">Our Team</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="elementor-section-boxed elementor-section section-header">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row">
      <div class="elementor-column elementor-col-25 direction-cols center about-team-member">
        <img class="team-pic" src="/assets/images/team/islam-mustafa.png" alt="Islam Mustafa">
        <p class="p-new bold">Islam Mustafa</p>
        <div>
          <a href="https://www.linkedin.com/in/islammustafa/"><span class="icon-linkedin2"></span></a>
        </div>
      </div>
      <div class="elementor-column elementor-col-25 direction-cols center about-team-member">
        <img class="team-pic" src="/assets/images/team/amr.jpeg" alt="Amr Saleh">
        <p class="p-new bold">Amr Saleh</p>
        <div>
          <a href="https://www.linkedin.com/in/amrousaleh/"><span class="icon-linkedin2"></span></a>
        </div>
      </div>
      <div class="elementor-column elementor-col-25 direction-cols center about-team-member">
        <img class="team-pic" src="/assets/images/team/mocka.jpeg" alt="Eslam Ali">
        <p class="p-new bold">Eslam Ali</p>
        <div>
          <a href="https://www.linkedin.com/in/eslam-ali-9811699a/"><span class="icon-linkedin2"></span></a>
        </div>
      </div>
      <div class="elementor-column elementor-col-25 direction-cols center about-team-member">
        <img class="team-pic" src="/assets/images/team/bilal.jpeg" alt="Bilal Ghalib">
        <p class="p-new bold">Bilal Ghalib</p>
        <div>
          <a href="https://www.linkedin.com/in/bilalghalib/"><span class="icon-linkedin2"></span></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="elementor-section-boxed elementor-section section-header" style="padding-bottom: 40px;">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row">
      <div class="elementor-column elementor-col-25 direction-cols center about-team-member">
        <img class="team-pic" src="/assets/images/team/ashi.jpg" alt="Islam El-Ashi">
        <p class="p-new bold">Islam El-Ashi</p>
        <div>
          <a href="https://www.linkedin.com/in/ielashi/"><span class="icon-linkedin2"></span></a>
        </div>
      </div>
      <div class="elementor-column elementor-col-25 direction-cols center about-team-member">
        <img class="team-pic" src="/assets/images/team/tolba.jpg" alt="Mahmoud Tolba">
        <p class="p-new bold">Mahmoud Tolba</p>
        <div>
          <a href="https://www.linkedin.com/in/mahmoud-tolba-2ab82572/"><span class="icon-linkedin2"></span></a>
        </div>
      </div>
      <div class="elementor-column elementor-col-25 direction-cols center about-team-member">
        <img class="team-pic" src="/assets/images/team/noor.jpg" alt="Noor Hashem">
        <p class="p-new bold">Noor Hashem</p>
        <div>
          <a href="https://www.linkedin.com/in/noormhashem/"><span class="icon-linkedin2"></span></a>
        </div>
      </div>
      <div class="elementor-column elementor-col-25 direction-cols center about-team-member">
        <img class="team-pic" src="/assets/images/team/ismail.jpg" alt="Ahmed Ismail">
        <p class="p-new bold">Ahmed Ismail</p>
        <div>
          <a href="https://www.linkedin.com/in/ahmed-ismail-5605b6b1/"><span class="icon-linkedin2"></span></a>
        </div>
      </div>
    </div>
  </div>
</section>
