<section class="elementor-section-boxed elementor-section" style="padding-top: 40px; background-color: #f8f9fa">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row">
      
      <div class="elementor-column elementor-col-50">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div class="elementor-widget-wrap">
            <div>
              <img class="lazyload" data-src="/assets/images/elk-board-1.png">
            </div>
          </div>
        </div>
      </div>
      <div class="elementor-column elementor-col-50">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div>
            <h2 class="h2-new center-mobile" style="font-weight: 200">What is Elk?</h2>
            <p class="p-new center-mobile">
            Elk is a hardware development board for the blockchain. With only a few lines of code you can build devices that interface with Ethereum, Bitcoin, IPFS, and more!
            </p>
            <p class="p-new center-mobile">
            Elk includes a powerful processor to connect directly to blockchain networks with no intermediaries. It is plug-and-play just like an Arduino, offers over-the-air upgrades, and includes a mobile app that allows you to communicate with your hardware privately through decentralized technologies.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
