<section class="elementor-section-boxed elementor-section" style="padding-top: 40px;">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row">
      <div class="elementor-column elementor-col-50" style="margin: auto;">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div style="margin: auto; text-align: center">
            <h2 class="h2-new" style="font-weight: 300;">Bootcamp Schedule</h2>
            <p class="p-new">
              Our bootcamp is now over, but it's not too late! Watch our recorded sessions below and
              join the discussions on our <a href="https://community.elk.cc">community</a> page.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="elementor-element elementor-element-3adbefa elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
  data-id="3adbefa" data-element_type="section">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row">
      <div class="elementor-element elementor-element-13aac37 elementor-column elementor-col-33 elementor-top-column"
        data-id="13aac37" data-element_type="column">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div class="elementor-widget-wrap">
            <div class="elementor-element elementor-element-6e7de6d elementor-widget elementor-widget-image"
              data-id="6e7de6d" data-element_type="widget" data-widget_type="image.default">
              <div class="elementor-widget-container">
                <div class="youtube" id="2saVi79TQ8s" style="width: 360px; height: 200px;">
                </div>
              </div>
            </div>
            <div class="elementor-element elementor-element-b5f5e31 elementor-widget elementor-widget-heading"
              data-id="b5f5e31" data-element_type="widget" data-widget_type="heading.default">
              <div class="elementor-widget-container">
                <h3 class="elementor-heading-title elementor-size-default"><b>Theory &amp;
                    Background</b></h3>
              </div>
            </div>
            <div class="elementor-element elementor-element-6c7658a elementor-widget elementor-widget-text-editor"
              data-id="6c7658a" data-element_type="widget" data-widget_type="text-editor.default">
              <div class="elementor-widget-container">
                <div class="elementor-text-editor elementor-clearfix">
                  <p style="font-size: 1.3rem;">We will demystify the math that powers many of the
                    decentralized protocols. Learning about trapdoor functions and rolling your own Ethereum
                    address from scratch!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="elementor-element elementor-element-d1f6e32 elementor-column elementor-col-33 elementor-top-column"
        data-id="d1f6e32" data-element_type="column">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div class="elementor-widget-wrap">
            <div class="elementor-element elementor-element-cc083e3 elementor-widget elementor-widget-image"
              data-id="cc083e3" data-element_type="widget" data-widget_type="image.default">
              <div class="elementor-widget-container">
                <div class="youtube" id="1BHrCY5_cpY" style="width: 360px; height: 200px;">
                </div>
              </div>
            </div>
            <div class="elementor-element elementor-element-c788025 elementor-widget elementor-widget-heading"
              data-id="c788025" data-element_type="widget" data-widget_type="heading.default">
              <div class="elementor-widget-container">
                <h3 class="elementor-heading-title elementor-size-default"><b>Smart Contracts</b>
                </h3>
              </div>
            </div>
            <div class="elementor-element elementor-element-073141e elementor-widget elementor-widget-text-editor"
              data-id="073141e" data-element_type="widget" data-widget_type="text-editor.default">
              <div class="elementor-widget-container">
                <div class="elementor-text-editor elementor-clearfix">
                  <p style="font-size: 1.3rem;">We learn about smart contracts and self executing code! Now
                    you can build an electrical outlet that can <strong>sell electricity</strong> by the hour
                    when people send funds to its <strong>smart contract</strong> address.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="elementor-element elementor-element-38da1bf elementor-column elementor-col-33 elementor-top-column"
        data-id="38da1bf" data-element_type="column">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div class="elementor-widget-wrap">
            <div class="elementor-element elementor-element-11c9fb1 elementor-widget elementor-widget-image"
              data-id="11c9fb1" data-element_type="widget" data-widget_type="image.default">
              <div class="elementor-widget-container">
                <div class="youtube" id="qFL4VPcqH8M" style="width: 360px; height: 200px;">
                </div>
              </div>
            </div>
            <div class="elementor-element elementor-element-22bcb46 elementor-widget elementor-widget-heading"
              data-id="22bcb46" data-element_type="widget" data-widget_type="heading.default">
              <div class="elementor-widget-container">
                <h3 class="elementor-heading-title elementor-size-default"><b>The Robot
                    Whisperer</b></h3>
              </div>
            </div>
            <div class="elementor-element elementor-element-bf4bac2 elementor-widget elementor-widget-text-editor"
              data-id="bf4bac2" data-element_type="widget" data-widget_type="text-editor.default">
              <div class="elementor-widget-container">
                <div class="elementor-text-editor elementor-clearfix">
                  <p style="font-size: 1.3rem;">We&#8217;ll also explore other protocols that are useful for
                    secure communications for IOT projects. We&#8217;ll learn about whisper which you can use
                    to send <strong>secret messages</strong> to
                    your <strong>smart door lock</strong>.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
