.h2-new {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

.h3-new {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

.light {
  color: white;
}

.p-new {
  padding-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.p-caption {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.center {
  text-align: center;
}

.final-feature-col {
  padding-top: 60px;
}

@media(max-width:768px) {
  .center-mobile {
    text-align: center;
  }

  .reverse-mobile {
    flex-direction: column-reverse;
  }

  .final-feature-col {
    padding-top: 40px;
  }

  .final-feature-col-2 {
    padding-top: 40px;
  }
}

@media(min-width:768px) {
  .slim-row {
    padding: 0 50px;
  }

  .blockchain-logos {
    position: relative;
    top: -40px;
  }
}
