<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <title>{{ page.title }}</title>
    <meta
      name="description"
      content="Elk is a development board for decentralized technologies. Build hardware projects that interface with Ethereum, Bitcoin, Whisper, IPFS, and more!"
    />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/style2.css" rel="stylesheet" />
    <link
      rel="icon"
      href="assets/images/cropped-logo-512-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      href="assets/images/cropped-logo-512-192x192.png"
      sizes="192x192"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="assets/images/cropped-logo-512-180x180.png"
    />
    <meta
      name="msapplication-TileImage"
      content="assets/images/cropped-logo-512-270x270.png"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
  </head>
  <body
    class="home page-template page-template-elementor_canvas page page-id-2548 use-sticky-nav white elementor-default elementor-template-canvas elementor-page elementor-page-2548"
  >
    <div class="main-wrapper">
      <div
        data-elementor-type="post"
        data-elementor-id="2548"
        class="elementor elementor-2548"
        data-elementor-settings="[]"
      >
        <div class="elementor-inner">
          <div class="elementor-section-wrap">
            <section
              class="elementor-element elementor-element-d0cfe41 navigation site-nav navigation__transparent navigation__landscape yes elementor-hidden-tablet elementor-hidden-phone elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
              data-id="d0cfe41"
              data-element_type="section"
            >
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-67be5f1 elementor-column elementor-col-33 elementor-top-column"
                    data-id="67be5f1"
                    data-element_type="column"
                  >
                    <div
                      class="elementor-column-wrap  elementor-element-populated"
                    >
                      <div class="elementor-widget-wrap">
                        <div
                          class="elementor-element elementor-element-2c77353 elementor-widget elementor-widget-image"
                          data-id="2c77353"
                          data-element_type="widget"
                          data-widget_type="image.default"
                        >
                          <div class="elementor-widget-container">
                            <div class="elementor-image">
                              <img
                                width="150"
                                height="100"
                                src="assets/images/logo-full-min.png"
                                class="attachment-large size-large"
                                alt="Elk"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-c8223b0 elementor-column elementor-col-33 elementor-top-column"
                    data-id="c8223b0"
                    data-element_type="column"
                  >
                    <div
                      class="elementor-column-wrap  elementor-element-populated"
                    >
                      <div class="elementor-widget-wrap">
                        <div
                          class="elementor-element elementor-element-c7b7904 elementor-widget elementor-widget-vapp-nav-menu"
                          data-id="c7b7904"
                          data-element_type="widget"
                          data-widget_type="vapp-nav-menu.default"
                        >
                          <div class="elementor-widget-container">
                            <button class="navigation__toggler"></button>
                            <nav class="navigation-wrapper">
                              <button class="offcanvas__close">✕</button>
                              <div class="menu-main-menu-container">
                                <ul id="menu-main-menu" class="navigation-menu">
                                  <li
                                    id="menu-item-3119"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3119"
                                  >
                                    <a href="https://medium.com/elkrem">Blog</a>
                                  </li>
                                  <li
                                    id="menu-item-1010"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1010"
                                  >
                                    <a href="https://gitter.im/elk-cc/community"
                                      >Community</a
                                    >
                                  </li>
                                  <li
                                    id="menu-item-3223"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3223"
                                  >
                                    <a href="bootcamp?utm_source=nav-menu"
                                      >&#8220;Blockchain for IOT&#8221;
                                      Bootcamp</a
                                    >
                                  </li>
                                </ul>
                              </div>
                            </nav>
                          </div>
                        </div>
                        <div
                          class="elementor-element elementor-element-60e7e8d elementor-widget elementor-widget-header-buttons"
                          data-id="60e7e8d"
                          data-element_type="widget"
                          data-widget_type="header-buttons.default"
                        >
                          <div class="elementor-widget-container">
                            <div class="vapp-btn-group header-buttons">
                              <a
                                href="#kickstarter-signup"
                                class="db-btn db-btn__type-sm "
                                target="_blank"
                                rel="nofollow"
                                >Back our Kickstarter</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-9a2d347 elementor-hidden-tablet elementor-hidden-phone elementor-column elementor-col-33 elementor-top-column"
                    data-id="9a2d347"
                    data-element_type="column"
                  >
                    <div
                      class="elementor-column-wrap  elementor-element-populated"
                    >
                      <div class="elementor-widget-wrap">
                        <div
                          class="elementor-element elementor-element-2d3b25a elementor-widget elementor-widget-header-buttons"
                          data-id="2d3b25a"
                          data-element_type="widget"
                          data-widget_type="header-buttons.default"
                        >
                          <div class="elementor-widget-container">
                            <div class="vapp-btn-group header-buttons">
                              <a
                                href="#kickstarter-signup"
                                class="db-btn db-btn__type-sm db-btn__outline"
                                target="_blank"
                                rel="nofollow"
                                >Back our Kickstarter</a
                              >
                            </div>
                          </div>
                        </div>
                        <div
                          class="elementor-element elementor-element-e4e320a elementor-widget elementor-widget-vapp-nav-menu"
                          data-id="e4e320a"
                          data-element_type="widget"
                          data-widget_type="vapp-nav-menu.default"
                        >
                          <div class="elementor-widget-container">
                            <button class="navigation__toggler"></button>
                            <nav class="navigation-wrapper">
                              <button class="offcanvas__close">✕</button>
                              <div class="menu-main-menu-container">
                                <ul
                                  id="menu-main-menu-1"
                                  class="navigation-menu"
                                >
                                  <li
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3119"
                                  >
                                    <a href="https://medium.com/elkrem">Blog</a>
                                  </li>
                                  <li
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1010"
                                  >
                                    <a href="https://gitter.im/elk-cc/community"
                                      >Community</a
                                    >
                                  </li>
                                  <li
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3223"
                                  >
                                    <a href="bootcamp?utm_source=nav-menu"
                                      >&#8220;Blockchain for IOT&#8221;
                                      Bootcamp</a
                                    >
                                  </li>
                                </ul>
                              </div>
                            </nav>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            {{ content }}
            <section
              class="elementor-element elementor-element-11bab4e elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
              data-id="11bab4e"
              data-element_type="section"
              data-settings='{"background_background":"classic"}'
            >
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-a50d110 elementor-column elementor-col-100 elementor-top-column"
                    data-id="a50d110"
                    data-element_type="column"
                  >
                    <div
                      class="elementor-column-wrap  elementor-element-populated"
                    >
                      <div class="elementor-widget-wrap">
                        <div
                          class="elementor-element elementor-element-3981311 elementor-widget elementor-widget-heading"
                          data-id="3981311"
                          data-element_type="widget"
                          data-widget_type="heading.default"
                        >
                          <div class="elementor-widget-container">
                            <h2
                              class="elementor-heading-title elementor-size-default"
                            >
                              Let's build a decent* internet of things together.
                            </h2>
                          </div>
                        </div>
                        <div
                          class="elementor-element elementor-element-47015bb elementor-widget elementor-widget-text-editor"
                          data-id="47015bb"
                          data-element_type="widget"
                          data-widget_type="text-editor.default"
                        >
                          <div class="elementor-widget-container">
                            <div
                              class="elementor-text-editor elementor-clearfix"
                            >
                              <p style="font-size: 1.3rem; color: white;">
                                *Decent => Decentralized, ethical &#038; secure.
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="elementor-element elementor-element-1dab7ac elementor-widget elementor-widget-image"
                          data-id="1dab7ac"
                          data-element_type="widget"
                          data-widget_type="image.default"
                        >
                          <div class="elementor-widget-container">
                            <div class="elementor-image">
                              <img
                                width="150"
                                height="100"
                                src="assets/images/logo-full-min.png"
                                class="attachment-large size-large"
                                alt="Elk"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
    <div id="fb-root"></div>
    <link
      rel="stylesheet"
      id="vapp-google-fonts-css"
      href="https://fonts.googleapis.com/css?family=Montserrat%3A100%2C100i%2C200%2C200i%2C300%2C300i%2C400%2C400i%2C500%2C500i%2C600%2C600i%2C700%2C700i%2C800%2C800i%2C900%2C900i%26subset%3Dlatin%2Clatin-ext"
      type="text/css"
      media="all"
    />
    <script
      type="text/javascript"
      defer
      src="assets/js/main.js"
    ></script>

    <script>
      "use strict";
      function r(f) {
        /in/.test(document.readyState) ? setTimeout("r(" + f + ")", 9) : f();
      }
      r(function() {
        if (!document.getElementsByClassName) {
          var getElementsByClassName = function(node, classname) {
            var a = [];
            var re = new RegExp("(^| )" + classname + "( |$)");
            var els = node.getElementsByTagName("*");
            for (var i = 0, j = els.length; i < j; i++)
              if (re.test(els[i].className)) a.push(els[i]);
            return a;
          };
          var videos = getElementsByClassName(document.body, "youtube");
        } else {
          var videos = document.getElementsByClassName("youtube");
        }

        var nb_videos = videos.length;
        for (var i = 0; i < nb_videos; i++) {
          videos[i].style.backgroundImage =
            "url(/assets/images/elk-board" +
            videos[i].id +
            ".jpg)";

          var play = document.createElement("i");
          play.setAttribute("class", "eicon-play");
          videos[i].appendChild(play);

          videos[i].onclick = function() {
            var iframe = document.createElement("iframe");
            var iframe_url =
              "https://www.youtube.com/embed/" +
              this.id +
              "?autoplay=1&autohide=1";
            if (this.getAttribute("data-params"))
              iframe_url += "&" + this.getAttribute("data-params");
            iframe.setAttribute("src", iframe_url);
            iframe.setAttribute("frameborder", "0");

            iframe.style.width = this.style.width;
            iframe.style.height = this.style.height;

            this.parentNode.replaceChild(iframe, this);
          };
        }
      });
    </script>
  </body>
</html>
